# -----------------------------------------------------------------------------
# ARQUIVO: requirements.txt
# -----------------------------------------------------------------------------
fastapi
uvicorn[standard]
requests
paho-mqtt
